In [207]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pickle
from copy import deepcopy
import math

In [3]:
data_in = pd.read_csv("/Users/alexajax/QIWI/qiwi_users_money_in_data.csv", encoding='windows-1251', delimiter=';')
data_out = pd.read_csv("/Users/alexajax/QIWI/qiwi_users_money_out_data.csv", encoding='windows-1251', delimiter=';')
profile = pd.read_csv("/Users/alexajax/QIWI/qiwi_users_profile_data.csv", encoding='windows-1251', delimiter=';')

In [4]:
data_in["type"]="income"
data_out["type"]="outcome"

data = pd.concat([data_in, data_out])

In [5]:
data = pd.merge(data, profile, on='user_id')

In [6]:
data = data.fillna('Нет')

In [248]:
X_t = pd.DataFrame()
X_t["user_id"] = pd.Series(list(set(data.user_id.values)))
X_t.index = X_t.user_id
X_t.pop("user_id")

user_id
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
30          30
         ...
15084    15084
15085    15085
15086    15086
15087    15087
15088    15088
15089    15089
15090    15090
15091    15091
15092    15092
15093    15093
15094    15094
15095    15095
15096    15096
15097    15097
15098    15098
15099    15099
15100    15100
15101    15101
15102    15102
15103    15103
15104    15104
15105    15105
15106    15106
15107    15107
15108    15108
15109    15109
15110    15110
15111    15111
15112    15112
15113    15113
Name: user_id, dtype: int64

In [56]:
dfx = pd.DataFrame(data['date_month'].str.split('-').tolist(), columns = ['y','m'])
data['year'] = dfx.y
data['month'] = dfx.m

KeyError: 'date_month'

In [9]:
data.pop("date_month")

0         2014-02
1         2016-03
2         2016-07
3         2014-01
4         2014-03
5         2014-05
6         2015-09
7         2016-03
8         2014-01
9         2014-02
10        2014-03
11        2014-05
12        2015-09
13        2016-03
14        2016-07
15        2014-11
16        2016-03
17        2016-07
18        2014-12
19        2015-01
20        2015-02
21        2014-12
22        2015-01
23        2015-02
24        2014-07
25        2014-08
26        2014-07
27        2014-08
28        2015-02
29        2014-01
           ...
297201    2014-03
297202    2014-05
297203    2014-07
297204    2016-09
297205    2016-10
297206    2016-03
297207    2014-02
297208    2014-08
297209    2014-01
297210    2014-04
297211    2014-11
297212    2015-01
297213    2016-04
297214    2016-12
297215    2014-06
297216    2014-02
297217    2014-12
297218    2014-01
297219    2014-10
297220    2014-11
297221    2014-05
297222    2014-07
297223    2014-01
297224    2014-07
297225    2015-02
297226    2015-03
297227    2016-03
297228    2016-04
297229    2016-05
297230    2016-12
Name: date_month, dtype: object

In [149]:
std_payments = []

for user in X.index.values:
    user_data = data[data.user_id == user]
    std_payments.append(np.std(user_data[user_data.type == 'outcome'].payment.values))

In [150]:
X["std_payments"] = std_payments

In [151]:
years_diff = []

for user in X.index.values:
    user_data = data[data.user_id == user]
    years_diff.append(int(user_data.graduation_year.values[0]) - int(min(user_data.year.values)))

In [152]:
X["years_diff"] = years_diff

In [153]:
from sklearn.cluster import KMeans

In [252]:
inm = []
outm = []

for user in X_t.index.values:
    user_data = data[data.user_id == user]
    inm.append(np.median(user_data[user_data.type == 'income'].payment.values))
    outm.append(np.median(user_data[user_data.type == 'outcome'].payment.values))

/Users/alexajax/anaconda3/lib/python3.5/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)

In [253]:
X_t["inm"] = inm
X_t["outm"] = outm

In [254]:
X_t.head()

            inm    outm
user_id
1           NaN   750.0
2         350.0   235.0
3          90.0    90.0
4        1300.0  1000.0
5         400.0   100.0

In [255]:
X_t = X_t.fillna(0)

In [157]:
X_saves = deepcopy(X)

In [160]:
X.std_payments = (X.std_payments - np.mean(X.std_payments)) / np.std(X.std_payments)

In [161]:
X.years_diff = (X.years_diff - np.mean(X.years_diff)) / np.std(years_diff)

In [162]:
X.inm = (X.inm - np.mean(X.inm)) / np.std(X.inm)

In [163]:
X.outm = (X.outm - np.mean(X.outm)) / np.std(X.outm)

In [168]:
model = KMeans(n_clusters=5, n_jobs=-1)
model.fit(X)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=5, n_init=10,
    n_jobs=-1, precompute_distances='auto', random_state=None, tol=0.0001,
    verbose=0)

In [169]:
result = model.predict(X)

In [184]:
X.head()

         std_payments  years_diff       inm      outm
user_id
1           -0.063562   -0.225773 -0.684621 -0.074758
2           -0.183503    0.478388  0.263494 -0.031266
3           -0.389522    1.182549 -0.039515 -0.090425
4           -0.191845    1.886710 -0.084006 -0.114299
5           -0.382442   -0.225773 -0.084006 -0.105397

In [185]:
result

array([1, 2, 2, ..., 1, 2, 2], dtype=int32)

In [191]:
X["class"] = result

In [194]:
np.std(X_saves.std_payments)

2376.823548765947

In [195]:
np.std(X_saves.years_diff)

1.4201293933100656

In [196]:
np.std(X_saves.inm)

1.6648954808990701

In [197]:
np.std(X_saves.outm)

13.852266659114214

In [198]:
np.mean(X_saves.std_payments)

2.326710935149357

In [199]:
np.mean(X_saves.years_diff)

1.3205187586845761

In [200]:
np.mean(X_saves.inm)

1.1399584168149104

In [201]:
np.mean(X_saves.outm)

2.326710935149357

In [202]:
X.std_payments = X.std_payments * np.std(X_saves.std_payments) + np.mean(X_saves.std_payments)

In [203]:
X.years_diff = X.years_diff * np.std(X_saves.years_diff) + np.mean(X_saves.years_diff)

In [204]:
X.inm = X.inm * np.std(X_saves.inm) + np.mean(X_saves.inm)

In [205]:
X.outm = X.outm * np.std(X_saves.outm) + np.mean(X_saves.outm)

In [209]:
X.years_diff = list(map(math.ceil, X.years_diff))

In [260]:
X[X["class"] == 0].describe()

       std_payments  years_diff           inm          outm  class
count    257.000000  257.000000    257.000000    257.000000  257.0
mean   12905.292408    1.136187  13811.508583   9120.142651    0.0
std    10428.148021    1.212296  14266.497778   7680.492997    0.0
min       -0.020705   -2.000000      0.000000     40.002144    0.0
25%     7953.360294    0.000000   4928.494778   4375.430156    0.0
50%    10168.818335    1.000000   9391.612202   7139.912426    0.0
75%    14542.143504    2.000000  18356.496081  11412.056623    0.0
max    87720.383768    4.000000  90608.881248  55957.644053    0.0

In [261]:
X[X["class"] == 1].describe()

       std_payments   years_diff            inm          outm   class
count   8616.000000  8616.000000    8616.000000   8616.000000  8616.0
mean     764.507694     0.298747    1366.227790    961.574846     1.0
std     1175.615725     0.746983    2873.046768   1719.297178     0.0
min       -0.020705    -2.000000       0.000000     10.000536     1.0
25%        9.978691     0.000000      50.004901    175.009378     1.0
50%      303.695886     0.000000     645.871785    487.109433     1.0
75%      954.921623     1.000000    1700.166646   1100.058949     1.0
max     7963.038343     1.000000  163015.978405  79604.265733     1.0

In [262]:
X[X["class"] == 2].describe()

       std_payments   years_diff           inm          outm   class
count   6236.000000  6236.000000   6236.000000   6236.000000  6236.0
mean     748.567147     2.740539   1179.442836    778.556147     2.0
std     1107.630932     0.771608   1983.061416   1177.096693     0.0
min       -0.020705     2.000000      0.000000     10.000536     2.0
25%       84.974162     2.000000    144.793803    184.010278     2.0
50%      349.958158     3.000000    600.058816    431.077728     2.0
75%      899.924944     3.000000   1400.137238    900.048231     2.0
max     8172.833157     4.000000  60005.881621  24001.286151     2.0

In [231]:
model.cluster_centers_[:3]

array([[  5.02283534e+00,  -1.29875903e-01,   1.84066633e+00,
          8.30604579e-01],
       [ -8.51520452e-02,  -7.19568825e-01,  -6.67575059e-02,
         -2.40544692e-02],
       [ -9.18587048e-02,   9.99846532e-01,   3.79069797e-03,
         -1.94680135e-02]])

In [246]:
with open('very_important_save.pkl', 'wb') as f:
    pickle.dump(X, f)

In [247]:
very_important_save = deepcopy(X)

In [278]:
X.head()

         std_payments  years_diff          inm        outm  class  user_id
user_id
1          815.822514           1     0.000000  968.359170      1        1
2          530.743811           2   552.526703  444.998786      2        2
3           41.072906           3    96.675239   96.671051      2        3
4          510.917017           4  1300.127435  743.403799      2        4
5           57.902954           1   400.039211   86.672902      1        5

In [256]:
X.inm = X.inm * X_t.inm

In [257]:
X.outm = X.outm * X_t.outm

In [259]:
X.to_csv('final_classes.csv', sep=';', encoding='windows-1251')

In [264]:
pd.merge(X, data, on='user_id')

KeyError: 'user_id'

In [267]:
X["user_id"] = X.index

In [269]:
final = pd.merge(X, data, on='user_id')

In [272]:
set(final[final["class"] == 0].user_id.values)

{26,
 34,
 84,
 87,
 106,
 114,
 333,
 349,
 369,
 375,
 473,
 490,
 511,
 717,
 741,
 794,
 937,
 989,
 1085,
 1114,
 1245,
 1321,
 1322,
 1341,
 1641,
 1663,
 1698,
 1776,
 1839,
 1958,
 1965,
 2049,
 2077,
 2142,
 2297,
 2321,
 2408,
 2466,
 2521,
 2589,
 2620,
 2710,
 2742,
 2843,
 2858,
 2860,
 2904,
 3006,
 3244,
 3262,
 3300,
 3307,
 3420,
 3467,
 3501,
 3598,
 3607,
 3672,
 3721,
 3743,
 3759,
 3850,
 3933,
 3950,
 3988,
 4049,
 4097,
 4132,
 4277,
 4304,
 4329,
 4341,
 4397,
 4438,
 4461,
 4466,
 4725,
 4752,
 4849,
 4890,
 4910,
 4929,
 4934,
 4995,
 4998,
 5024,
 5060,
 5170,
 5256,
 5274,
 5292,
 5341,
 5344,
 5350,
 5423,
 5470,
 5491,
 5548,
 5585,
 5625,
 5653,
 5677,
 5735,
 5747,
 5824,
 5840,
 5880,
 5896,
 6133,
 6137,
 6170,
 6275,
 6283,
 6290,
 6380,
 6390,
 6593,
 6616,
 6619,
 6679,
 6689,
 6782,
 6797,
 6811,
 6887,
 6971,
 7014,
 7051,
 7175,
 7205,
 7256,
 7292,
 7313,
 7326,
 7367,
 7384,
 7411,
 7437,
 7559,
 7573,
 7708,
 7747,
 7752,
 7780,
 7911,
 7926,
 7939,
 8026,
 8028,
 8173,
 8260,
 8461,
 8500,
 8571,
 8583,
 8689,
 8733,
 8736,
 8807,
 8814,
 8881,
 8931,
 8949,
 9100,
 9108,
 9162,
 9187,
 9193,
 9290,
 9416,
 9426,
 9480,
 9481,
 9490,
 9530,
 9673,
 9730,
 9766,
 9835,
 9890,
 9944,
 10133,
 10172,
 10181,
 10194,
 10204,
 10317,
 10355,
 10372,
 10453,
 10589,
 10622,
 10729,
 10872,
 10891,
 10930,
 10992,
 11075,
 11149,
 11355,
 11410,
 11541,
 11587,
 11644,
 11842,
 11867,
 11871,
 11875,
 12127,
 12238,
 12285,
 12355,
 12530,
 12581,
 12607,
 12619,
 12628,
 12935,
 12943,
 12958,
 13080,
 13164,
 13192,
 13263,
 13345,
 13376,
 13397,
 13466,
 13480,
 13539,
 13748,
 13774,
 13797,
 13820,
 13847,
 13968,
 14009,
 14018,
 14056,
 14103,
 14133,
 14169,
 14183,
 14184,
 14376,
 14402,
 14438,
 14536,
 14556,
 14699,
 14745,
 14783,
 14793,
 14802,
 14867,
 15063,
 15102}

In [276]:
data[data.user_id == 14376]

,category,txn_count,payment,user_id,type,sex,university,faculty,graduation_year,year,month
269071,QIWI,2,15700,14376,income,Жен,СПбГУ,Медицинский,2018,2014,08
269072,QIWI,2,17200,14376,income,Жен,СПбГУ,Медицинский,2018,2014,09
269073,QIWI,2,19800,14376,income,Жен,СПбГУ,Медицинский,2018,2014,10
269074,QIWI,6,67900,14376,income,Жен,СПбГУ,Медицинский,2018,2014,11
269075,QIWI,11,140300,14376,income,Жен,СПбГУ,Медицинский,2018,2014,12
269076,QIWI,3,22200,14376,income,Жен,СПбГУ,Медицинский,2018,2015,01
269077,QIWI,1,13400,14376,income,Жен,СПбГУ,Медицинский,2018,2015,03
269078,QIWI,1,3300,14376,income,Жен,СПбГУ,Медицинский,2018,2015,04
269079,QIWI,1,6600,14376,income,Жен,СПбГУ,Медицинский,2018,2015,05
269080,QIWI,2,1700,14376,income,Жен,СПбГУ,Медицинский,2018,2016,04
269081,VPP,1,3200,14376,outcome,Жен,СПбГУ,Медицинский,2018,2015,04
269082,VPP,2,1600,14376,outcome,Жен,СПбГУ,Медицинский,2018,2016,04
269083,Денежные переводы,2,15700,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,08
269084,Денежные переводы,2,17200,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,09
269085,Денежные переводы,2,18800,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,10
269086,Денежные переводы,6,67900,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,11
269087,Денежные переводы,9,115300,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,12
269088,Денежные переводы,2,21700,14376,outcome,Жен,СПбГУ,Медицинский,2018,2015,01
269089,Денежные переводы,1,13200,14376,outcome,Жен,СПбГУ,Медицинский,2018,2015,03
269090,Денежные переводы,1,6500,14376,outcome,Жен,СПбГУ,Медицинский,2018,2015,05
269091,Онлайн общение,1,10,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,11
269092,Служебная,1,20,14376,outcome,Жен,СПбГУ,Медицинский,2018,2015,11
269093,Сотовая связь,1,40,14376,outcome,Жен,СПбГУ,Медицинский,2018,2014,11

In [274]:
final.to_csv('final.csv', sep=';', encoding='windows-1251')

In [281]:
import somoclu

In [282]:
classes = very_important_save.pop("class")

In [284]:
som = somoclu.Somoclu(100, 100, data=very_important_save.as_matrix())

Warning: data was not float32. A 32-bit copy was made